.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editor {
    border-bottom: 1px solid #F1F1F1;
}

button {
    margin-top: 40px;
    border: none;
    background: blue;
    font-size: 18px;
    max-width: 250px;
    width: 100%;
    cursor: pointer;
    &:hover {
        background: darkblue;
    }
}
