.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container{
  padding: 15px;
  max-width: 1200px;
  margin: auto
}

.editor {
  min-height: 300px;
  border: 1px solid #f1f1f1;
  border-top: none;
  padding: 15px;
}

.DraftEditor-editorContainer{
  z-index: 0 !important; // IDK why has 1 by default
}

.btn {
  outline: none;
  margin-top: 40px;
  padding: 15px;
  border: none;
  font-size: 18px;
  max-width: 225px;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  background: #89e77b;
  color: #fff;
  text-transform: uppercase;
  transition: .1s linear;
  &:hover {
    background: #7dc073;
  }
  &:disabled {
    opacity: .5;
  }
}
